<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Pixel 3">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="emulator-5554" />
		<parameter name="deviceName" value="pixel_3a" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="com.qa.runners.Pixel3ATestNGRunnerTest"/>
		</classes>
	</test>
	<test name="Pixel 7 Pro">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="emulator-5556" />
		<parameter name="deviceName" value="pixel_7_pro" />
		<parameter name="systemPort" value="10001" />
		<parameter name="chromeDriverPort" value="11001" />
		<classes>
			<class name="com.qa.runners.Pixel7ProTestNGRunnerTest"/>
		</classes>
	</test>
</suite> <!-- Suite -->
